<div class="border-form-div jumbotron box-claudia2">
<h2>Registrarse</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label "Correo Electrónico" %><br />
  <%= f.email_field :email, :autofocus => true, :class => "form-control" %></div>

  <div><%= f.label "Contraseña" %><br />
  <%= f.password_field :password, :class => "form-control" %></div>

  <div><%= f.label "Confirmar Contraseña" %><br />
  <%= f.password_field :password_confirmation, :class => "form-control" %></div>

  
  <div class="span6">
    <%= submit_tag "Registrarse", :class => "btn btn-primary btn-claudia2"%>
    </div>
<% end %>
</div>


<%= render "devise/shared/links" %>
