<h2 class="color-white">Agregar Comentario: </h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p class="color-white">
    <%= f.label "Bloguero" %><br />
    <%= f.text_field :commenter, :class => "form-control" %>
  </p>
  <p class="color-white">
    <%= f.label "Comentario" %><br />
    <%= f.text_area :body, :class => "form-control" %>
  </p>
  <p>
  <div class="span6">
    <%= submit_tag "Crear Comentario", :class => "btn btn-primary btn-claudia"%>
    </div>
  </p>
<% end %>