<div class="border-form-div box-claudia2">
  <h2>Ingresar</h2>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.email_field :email, :autofocus => true %>
    <%= f.password_field :password %>
    <% if devise_mapping.rememberable? -%>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Recordarme
        </label>
      </div>
    <% end -%>
    <div class="span6">
    <%= submit_tag "Ingresar", :class => "btn btn-primary btn-claudia2"%>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
