<%= form_for @post do |f| %>
	
	 <% if @post.errors.any? %>
  	<div id="errorExplanation">
    	<h2><%= pluralize(@post.errors.count, "error") %> :prohibited this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
  	  <li><%= msg %></li>
    <% end %>
    </ul>
	</div>
	<% end %>

	<p class="color-white">
		<%= f.label "Título" %><br>
		<%= f.text_field :title, :class => "form-control" %>
	</p>
	<p class="color-white">
		<%= f.label "Post" %><br>
		<%= f.text_area :text, :class => "form-control" %>
	</p>
	<div class="row-fluid">
	<div class="span6">
		<%= submit_tag "Crear Post", :class => "btn btn-primary btn-claudia"%>
	</div>
	</p>
	<% end %>
	<div class="span6">
        <%= link_to "Mis Posts", posts_path, :class => "btn btn-primary btn-claudia" %>
    </div>
    </div>

<br>
