<div class="jumbotron box-claudia">
<p>
	<strong>Título:</strong>
	<%= @post.title %>
</p>

<p>
	<strong>Texto:</strong>
	<%= @post.text %>
</p>
</div>


<h2>Comments</h2>
<%= render @post.comments %>

<%= render "comments/form" %>

<%= link_to "Mis Posts", posts_path %>
<%= link_to 'Editar', edit_post_path(@post) %>
<div class="span6">
        <%= link_to "Mis Posts", posts_path, :class => "btn btn-primary btn-claudia" %>
</div>
<div class="span6">
        <%= link_to "Editar", edit_post_path(@post), :class => "btn btn-primary btn-claudia" %>
</div>