<!DOCTYPE html>
<html>
<head>
  <title>Blog de Cloooska</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="masthead">
    <%= render 'layouts/user_header' %>
    <h2 class="muted"><%= link_to "El Blog de Cloooska", root_path,:class => "color-blue" %></h2>
    <h5 class="color-white">Un entretenido lugar para comentar</h5>
  </div>
  <hr />
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>
<div class="color-white">
:D #Rhodium2013 & Cloooska
</div>
</body>
</html>